.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fffcf3;
  padding: 40px;
}

.containerDark {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #272627;
  padding: 40px;
}

.rowOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .rowOne {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
